@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input-with-image {
  @apply pr-3;
  background-image: url('/Envelope.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px 10px;
} */
